* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: rgb(73, 73, 73);
}

img {
  max-width: 100vw;
}

.bundle-section,
header {
  background-image: url(./img/header/section_bg.jpg);
  background-size: cover;
  width: 100vw;
  height: 100%;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;
}

.content {
  max-width: 90vw;
  margin: 0 auto;
}

.logo {
  display: flex;
  justify-content: space-between;
  padding: 65px 0 0;
}
.logo img {
  height: 25px;
}

.title h1 {
  line-height: normal;
  font-size: 30px;
  padding: 105px 0 0;
}

.title h4 {
  padding: 25px 0;
  font-weight: 100;
}

.button-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 15px 50px;
  margin: 10px 0;
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
  display: inline-block;
  width: 250px;
}

.purchase {
  background-color: #e75726;
}

.preview {
  background-color: #a278e9;
}

.purchase:hover {
  color: #e75726;
}

.preview:hover {
  color: #a278e9;
}

button:hover {
  background-color: #fff;
  transition: 0.4s all cubic-bezier(0.56, 0.24, 0.41, 1.07);
}

.title img {
  max-width: 90vw;
  padding: 40px 0 0;
}

.elite,
.browsers {
  text-align: center;
}

.elite-logo img {
  width: 88px;
  padding: 60px 0 30px;
}

h2 {
  font-size: 30px;
}

.elite h2 {
  color: #f38844;
}

.rating-img {
  width: 100%;
  padding: 40px 0 40px;
}

.group h2 {
  padding: 40px 0 0;
}

.img-group {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  padding: 25px;
  justify-content: center;
}

.img-group img {
  height: 45px;
}

/* timeline */

h3 {
  font-size: 20px;
  font-weight: bold;
}

h4 {
  font: 18px;
}

.timeline h2 {
  padding-bottom: 30px;
  text-align: center;
}

.timeline h4 {
  color: #a1a1a1;
}

.timeline {
  padding: 50px 0;
  text-align: left;
}

.timeline-item {
  padding: 0 25px 10px;
  position: relative;
  border-left: 2px solid #c7c7c7;
}

.timeline-item::before {
  position: absolute;
  left: 30px;
  font-weight: bold;
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 10px;
}

.timeline-item::after {
  width: 10px;
  height: 10px;
  display: block;
  top: 0;
  position: absolute;
  left: -8px;
  border-radius: 10px;
  content: "";
  border: 2px solid #c7c7c7;
  background: #c7c7c7;
}

.timeline-item:last-child {
  padding: 0 25px 0px;
}

/* bundle section (banners) */

.bundle-section {
  padding: 10px 0;
}

.bundle-banners {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.bundle-banners img {
  max-width: 70vw;
}

.bundle-content {
  text-align: left;
  padding: 50px 0 30px;
}

.bundle-content h4 {
  padding: 15px 0;
}

.bundle-content button {
  width: 90vw;
}

.sizes {
  margin: 0 auto;
}

.sizes-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sizes img {
  width: 90vw;
}

.sizes h2 {
  text-align: center;
  padding: 15px 0;
}

.sizes li {
  list-style-image: url(./img/layer/arrow.png);
  font-size: 20px;
  margin-left: 25px;
}

.sizes ul {
  padding-bottom: 20px;
}

footer {
  background-color: #323232;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

footer h4 {
  font-weight: 400;
  padding-top: 10px;
}

footer a,
.copyright {
  color: #fff;
  font-size: 12px;
}

footer .icons {
  padding: 80px 0 20px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  text-align: center;
}

.icons img {
  width: 50px;
}

@media only screen and (min-width: 1000px) {
  .title h1 {
    font-size: 53px;
  }

  .title h4 {
    font-size: 17px;
  }

  .title {
    display: flex;
    gap: 50px;
    text-align: left;
  }

  .title img {
    max-width: 40vw;
  }

  .elite,
  .browsers {
    margin: auto;
    text-align: left;
    max-width: 90vw;
  }

  .rating-img {
    width: 320px;
  }

  .browsers {
    display: flex;
    gap: 40px;
  }

  .img-group {
    justify-content: start;
    flex-wrap: nowrap;
  }

  .img-group img {
    height: 35px;
  }

  .bundle {
    display: flex;
    align-items: center;
  }

  .bundle-banners {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .bundle-banners img {
    max-width: 227px;
  }

  .bundle-content {
    padding-left: 50px;
  }

  .bundle-content h4 {
    font-size: 17px;
    font-weight: 100;
  }

  .bundle-content button {
    width: 360px;
  }

  .sizes {
    display: flex;
  }

  .sizes img {
    width: 60vw;
    margin: -60px 0 -30px;
  }

  footer {
    display: flex;
  }

  footer .content {
    display: flex;
    align-items: flex-end;
  }

  .specs {
    padding-left: 50px;
    flex-basis: auto;
  }

  footer .icons {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    justify-content: space-between;
    grid-gap: 60px;
    text-align: center;
    padding-bottom: 60px;
  }

  footer .item {
    max-width: 292px;
    text-align: center;
    justify-content: center;
  }

  footer .item h4 {
    font-size: 17px;
  }

  footer .item img {
    max-width: 49px;
  }

  footer .copyright {
    font-size: 12px;
  }
}

@media only screen and (min-width: 1200px) {
  header {
    height: 750px;
  }

  .content {
    width: 1170px;
  }

  .button-div {
    flex-direction: row;
  }

  .purchase {
    margin-right: 40px;
  }

  .title img {
    max-width: 555px;
  }
}
